@model Book

@{
    ViewBag.Title = "Деталі";
}

@Html.Partial("_BookDetails", Model)

<div class="col-xs-12">
    <div class="btn-group">
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.BookId }, new { @class = "btn btn-success" })
        @Html.ActionLink("Повернутись до списку", "Index", null, new { @class = "btn btn-default"})
    </div>
</div>
