body{
	padding-top: 100px;

    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    height:600px;
}
.gap50px{
	height: 50px;
}
.gap30px{
	height: 30px;
}
.gap15px{
	height: 15px;
}
.gap450px{
	height: 450px;
}
p.Indent{
	text-indent: 30px;
}
a.notCollapsed.collapsed:after{
	content: "  \\/"
}
.nonMargin{
	margin: 0px;
}
.nonMarginPadding{
	margin: 0px;
    padding: 0px;
}
.nonPaddingRight{
    padding-right: 0px;
    margin-right: 0px;
}
.addPaddingRight30px {
    padding-right: 30px;
}
.displayBlock{
    display: block;
}
.bookColor{
    background-color: white;
}
.fontSize150{
    font-size: 150%;
}
.fontSize120{
    font-size: 120%;
}
.marginTop10px{
    margin-top: 10px;
}
.marginTop20px{
    margin-top: 20px;
}
.marginBottom5px{
    margin-bottom: 5px;
}
borderRadius20px{
    border-radius: 20px;
}
hr.color {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0026ff;
    margin: 1em 0;
    padding: 0;
}
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
.backGroundWhite {
    background-color: white;
}
.WhiteLetters {
    color: white;
}
.WhitesmokeLetters {
    color: whitesmoke;
}
.BlackLetters {
    color: black;
}