@model Author

@{
    ViewBag.Title = "Details";
}

@Html.Partial("_AuthorDetails", Model)


<div class="col-xs-12" >
    <div class="btn-group">
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.AuthorId }, new { @class = "btn btn-success"})
    @Html.ActionLink("Повернутись до списку", "Index", null, new { @class = "btn btn-default"})
    </div>
</div>
