
@{
    ViewBag.Title = "Не вдалось оформити замовлення";
    Categories.category = null;
}

<br/>
<h2 class="text-center WhitesmokeLetters">Замовлення не вдалось оформити<br />Спробуйте ще раз</h2>

<div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-md-6 col-md-offset-3">
        <div class="btn btn-lg btn-block center-block btn-primary">
            <a href="~/order/create" class="btn btn-block btn-lg">Повернутись до оформлення замовлення</a>
        </div>
    </div>
</div>

