
@{
    ViewBag.Title = "Не вдалось оформити замовлення";
    Categories.category = null;
}

<br/>
<h2 class="text-center">Замовлення не вдалось оформити<br/>Спробуйте ще раз</h2>

<div class="row">
    <div class="col-xs-12">
        <a href="~/order/create" class="btn btn-block btn-lg">Повернутись до оформлення замовлення</a>
    </div>
</div>

